@model EliteGym.Models.Facility

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div>
    <h4>Facility</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FacilityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacilityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleHour)

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Facilities list", "Index")
</p>
