@model EliteGym.Models.Reservation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facility.FacilityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facility.FacilityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Membership.MembershipDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Membership.MembershipDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
