@model EliteGym.Models.Review

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Facility.FacilityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facility.FacilityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffReview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffReview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CleanlinessScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CleanlinessScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverallExperienceReview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverallExperienceReview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewInfo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
