@model IEnumerable<EliteGym.Models.Review>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Facility.FacilityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaffReview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CleanlinessScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverallExperienceReview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewInfo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Facility.FacilityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffReview)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CleanlinessScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverallExperienceReview)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewInfo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
